* { margin: 0px; padding: 0px; box-sizing: border-box;}

body { color: #242424; font-family: sans-serif; word-wrap: break-word; overflow-wrap: break-word ;}

h1, h2 { font-weight: 900; color: #000000;}

.wrapper { }