* { margin: 0px; padding: 0px; }

body { background-color: aqua;}

.container {
     background-color: black;
     margin: 0px auto;
     width: 600px;
     height: 600px; 
     display: flex; 
     flex-flow: row wrap ; 
     justify-content: space-evenly;
     align-items: center ; 
     align-content: space-evenly;
 }
 
div {
    padding: 60px; 
    background-color: blue;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
} 

